html {
    height: 100vh;
}

body {
    height: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.control-container {
    margin-top: 12px;
}

.data-container {
    height: 100%;
    margin: 12px 0 12px;
}

#live-data-container {
    display: none;
    opacity: 0.7;
}

#fault-code-data-container {
    display: none;
    opacity: 0.7;
}

#init-data-container-message {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data-table .data-type {
    width: 20%;
}

#alert {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin-left: 1rem;
}

#spinner-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 90%;
    top: 10%;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}