html {
    height: 100vh;
}

body {
    height: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.control-container {
    margin-top: 12px;
}

.data-container {
    height: 100%;
    margin: 12px 0 3px;
}

#live-data-container {
    display: none;
    opacity: 0.7;
}

#fault-code-data-container {
    display: none;
    opacity: 0.7;
}

#init-data-container-message {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#col-version {
    height: 1.5em;
    text-align: end;
    margin-bottom: 3px;
    font-size: 0.8em;
}

.data-table .data-type {
    width: 20%;
}

.data-type {
    font-weight: bold;
}

#alert {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin-left: 1rem;
}

#spinner-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 90%;
    top: 10%;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.go-red {
    background-color: red !important;
    transition: background-color 2s linear;
}

.green {
    background-color: green !important;
}

.live-data-container .row {
    /*min-height: 48px;*/
}

.live-data-container .row .col {
    display: flex;
    padding: 2px 0;
    justify-content: flex-start;
}

.live-data-container .row .col .data-type {
    text-align: right;
    flex: 0 0 180px;
}

.live-data-container .row .col .data-value {
    margin: 0 10px;
    flex: 1;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
